body{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}
.navbar{
  background-color: rgb(109, 13, 130);
}
.navbar a{
  color: white;
  margin: 2px 20px;
  font-size: 15px;
}
a{
  text-decoration: none;

}
li{
  list-style-type: none;
}
.sideNavbar a:hover{
  color: green;
  transform: translateY(-5px);
}
.sideNavbar li:hover{
  transform: translateX(5px);
}
.courseCard img{
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  margin: 10px 0px;
  transition: transform 1s;
  
}
.courseCard img:hover{
  transform:scale(0.95);
}
.card-footer {
  background: transparent;
  border-top: 0px;
}
.singleCourseImg {
  width: 100%;
  height:40vh;
}
.autorImg{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.logOutBtn{
  cursor: pointer;
  color: white;
}
.profileImg{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid gold;
}
.otherLoginSystem{
 display: flex;
 justify-content: space-around;
}
.successSms{
  display: flex;
  justify-content: center;
}
.aboutProgramming{
  display: flex;
  justify-content: center;
  align-items: center;
}
.CourseCardHome{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.CourseCardHome img{
  max-height: 200px;
  min-height: 200px;
}




@media only screen and (max-width:662px) {
  .aboutProgramming{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .CourseCardHome{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  
}