body{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}
.navbar{
  background-color: rgb(109, 13, 130);
}
.navbar a{
  color: white;
  margin: 2px 20px;
  font-size: 20px;
}
a{
  text-decoration: none;

}
li{
  list-style-type: none;
}
.sideNavbar a:hover{
  color: green;
  transform: translateY(-5px);
}
.sideNavbar li:hover{
  transform: translateX(5px);
}
.courseCard img{
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  margin: 10px 0px;
  transition: transform 1s;
  
}
.courseCard img:hover{
  transform:scale(0.95);
}
.card-footer {
  background: transparent;
  border-top: 0px;
}
.singleCourseImg {
  width: 100%;
  height:40vh;
}
.autorImg{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.logOutBtn{
  cursor: pointer;
  color: white;
}
.profileImg{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid gold;
}
.otherLoginSystem{
 display: flex;
 justify-content: space-around;
}
.successSms{
  display: flex;
  justify-content: center;
}
.aboutProgramming{
  display: flex;
  justify-content: center;
  align-items: center;
}
.CourseCardHome{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.CourseCardHome img{
  max-height: 200px;
  min-height: 200px;
}
.navbar-brand img{
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
.whatIsProgramme{
  padding: 10px;
}
.ProgrammingLan{
  color: orange;
}
 /* dark mood */
 .dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
/* togle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:rgb(33, 32, 32);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(33, 32, 32);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logOutBtn{
  font-size: 20px;
}
@media only screen and (max-width:662px) {
  .aboutProgramming{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .CourseCardHome{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  
}